.tweet-list {
  width: 600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
}

.tweet-list .tweet {
  padding: 16px 32px;
}

.load-tip {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  padding: 32px;
}
